
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Form.css">
</head>
<body>
    <main class="container">
        <p style="display: none;" id="userId"><%=user._id%></p>
        <h1 >VerifyOtp</h1>
        <div id="err"></div>
        <form id="otpForm">
            <label for="otp">enter your otp</label>
            <input type="number" name="otp" id="otp">
            <button  type="submit">VerifyOtp</button>
            <div id="countdown-timer"></div>
            <button id="resend" onclick="resendOTP()" disabled>resendOTP</button>
        </form>
        <script src="javascript/otp.js" defer></script>

    </main>
</body>
</html>
