<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Form.css">
</head>
<body>
    <main class="container">
        <h1 >Login</h1>
        <div id="err"></div>
        <form id="LoginForm">
            <label for="username">email</label>
            <input type="text" id="username" name="email" required>
            <label for="password">password</label>
            <input type="text" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <script src="javascript/adminLogin.js"></script>

    </main>
</body>
</html>

